.userLogo {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: 30%;
}

.userInfo {
    margin: 3%;
}

.userData {
    font-size: x-large;
}

.MuiCircularProgress-root {
    position: absolute;
    top: 40%;
    left: 50%;
    color: #9c38e6;
}


